body {
    font-family: "Madimi One", sans-serif;
    margin: 0;
    background-color: #fed7aa;
    color: #fffbeb;
}

/* Header */

header {
    background-color: #78350f;
    box-shadow: 0 5px 0px 0px rgb(10, 10, 10, 30%);
    z-index: 2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > div {
    font-size: 50px;
}

.log-in {
    font-size: 25px;
}

/* Sub Header */

.sub-header {
    text-align: center;
    padding: 10px 0px;
}

.add-book {
    font-family: "Madimi One", sans-serif;
    font-size: 30px;
    background-color: #fed7aa;
    color: #78350f;
    border: none;
    cursor: pointer;
}


/* Main Section */

.main-grid-container {
    display: grid;
    margin: 2.5% 5%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.book-card {
    height: 300px;
    background-color: #78350f;
    color: #fffbeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}

.book-card div {
    font-size: 20px;
}

.read-button {
    min-width: 50%;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
    font-size: 20px;
    color: #fffbeb;
    background-color: #78350f;
    border: solid 3px #fffbeb;
    border-radius: 15px;
}

.remove-book {
    background-color: #78350f;
    color: #fed7aa;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 70%;
}

/* Dialog */

dialog {
    border-radius: 15px;
    border-color: #fffbeb;
    background-color: #fed7aa;
    color: #78350f;
}

dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 55%)
}

.close-dialog {
    background-color: #fed7aa;
    color: #78350f;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 90%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.form ul > li {
    display: flex;
    flex-direction: column;
}

#radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;
}

input[type="text"], input[type="number"] {
    border-radius: 5px;
    border: none;
}

input[type="radio"] {
    cursor: pointer;
}

button[type="submit"] {
    font-family: "Madimi One", sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #78350f;
    background-color: field;
    width: 50%;
    align-self: center;
}

button:hover {
    transform: scale(1.2);
}

/* Footer */

.footer {
    color: #78350f;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 12px;
}

.footer img {
    width: 1%;
}