.page-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 6fr;
    height: 90vh;
}

header {
    grid-column: 1 / 3;
    background-color: #451a03;
}

.sub-header {
    grid-column: 1 / 3;
    background-color: #fed7aa;
}


/* Main Section */

.main-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    gap: 20px;
}

.book-card {
    height: 300px;
    margin: 2.5% 5%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

/* Dialog */


dialog {
    border-radius: 15px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.form > ul > li {
    display: flex;
    flex-direction: column;
}

#checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}